# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# Custom
.DS_Store
tables/tcga_genomics.csv
.idea/
protein_pairs_residuals.csv
GSM1536837_01_27_15_TCGA_20.Illumina.tumor_Rsubread_FPKM.txt
figures/*
tables/PN-ontology_MB_082016.xlsx
PN-ontology_MB_082016.csv
Achilles_QC_v2.4.3.rnai.Gs.txt
CCLE_copynumber_byGene_2013-12-03.txt
sanger_gene_experssion_rma.tsv
